﻿@using MudBlazor
@inherits LayoutComponentBase

<PageTitle>RickAndMortyBlazorApp</PageTitle>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <div class="banner">
        <NavLink href="" Match="NavLinkMatch.All">
            <img src="/images/klipartz.svg" />
        </NavLink>
    </div>
    <div>
        <MudAppBar Fixed="false">
            <div class="tabs">
                <NavMenu />
            </div>
        </MudAppBar>
    </div>
    <main>
        <article class="main">
            @Body
        </article>
    </main>
</div>

