
@font-face {
    font-family: 'intro';
    src: url('../wwwroot/css/fonts/Intro.ttf') format('truetype');
    font-family: 'jost-black';
    src: url('css/fonts/jost-black.ttf') format('truetype');
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #124146;
    height: 100vh;
    width: 100%;
}

main {
    background: #124146;
}

banner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden !important;
}

.banner img {
    height: 290px !important;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
}

::deep .mud-toolbar-appbar {
    background-color: #13ACC9;
    height: 52px !important;
    display: inline-block;
    margin-right: 19%;
}

::deep .mud-button-label {
    color: white;
    font-size: 20px;
    font-family: intro;
}

    ::deep .mud-button-label:hover {
        color: #1F6067;
    }

::deep .mud-button:hover {
    background-color: transparent;
}

.tabs {
    font-family: intro !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px !important;
}

@media (max-width: 600px) {
    .tabs {
        margin-right: 5px; 
    }
}

::deep .mud-appbar {
    background: #13ACC9;
}

::deep .active .mud-button-label {
    color: #E0EB54 !important;
}  

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}


::-webkit-scrollbar {
    width: 1.5vh;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    background-color: #124146;
    border-radius: 6px;
    height: 5vh;
}

::-webkit-scrollbar-track {
    background-color: #1F6067;
    height: 1vh;
}

html {
    scrollbar-width: thin;
    scrollbar-color: #124146 #1F6067;
}

body {
    scrollbar-width: thin;
    scrollbar-color: #124146 #1F6067;
}
