﻿@using MudBlazor

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <div class="tabs">
        <NavLink href="characters">
            <MudButton>CHARACTERS</MudButton>
        </NavLink>
    </div>
    <div class="tabs">
        <NavLink href="episodes">
            <MudButton>EPISODES</MudButton>
        </NavLink>
    </div>
    <div class="tabs">
        <NavLink href="locations">
            <MudButton>LOCATIONS</MudButton>
        </NavLink>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}