.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        display: block;
    }

    .nav-scrollable {
        display: flex;
        flex-direction: row;
        gap: 40%;
        margin-top: 3px;
    }
}

::-webkit-scrollbar {
    width: 1.5vh;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    background-color: #124146;
    border-radius: 6px;
    height: 5vh;
}

::-webkit-scrollbar-track {
    background-color: #1F6067;
    height: 1vh;
}

html {
    scrollbar-width: thin;
    scrollbar-color: #124146 #1F6067;
}

body {
    scrollbar-width: thin;
    scrollbar-color: #124146 #1F6067;
}