﻿@font-face {
    font-family: 'intro';
    src: url('css/fonts/intro.ttf') format('truetype');
}

@font-face {
    font-family: 'jost';
    src: url('css/fonts/Jost.ttf') format('truetype');
}

.columns-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 70vh;
}

::deep .first-column-content {
    background-color: #124146 !important;
}

.first-column-content img {
    max-width: 100%;
    height: auto;
}

.episode-block {
    margin: 0vh 0vh 2vh 6vh;
}

::deep .second-column-content {
    background-color: #1F6067;
    color: #E0EB54;
    font-family: jost;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    overflow: hidden;
}

.dialog-header {
    display: flex;
    width: 38vh;
    height: 5vh;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: intro;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.dialog-body {
    color: white;
    font-family: Jost;
    font-size: 2.5vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 1vh;
}

.body-fields {
    text-wrap: wrap;
    margin: 0vh 0vh 2vh 6vh;
    overflow-y: auto;
    overflow: hidden;
}

::deep .color-white {
    color: white !important;
}

::deep .close {
    margin: 1% 0% 0% 85%;
}

.body-fields-for {
    margin: -5.6vh 0vh 0vh -6vh;
    white-space: pre;
    height: 24vh;
    overflow: auto;
    overflow-x: hidden;
    width: 61vh;
}

.foreach {
    margin-left: 30vh;
    font-size: 2.5vh;
    color: white;
}

::-webkit-scrollbar {
    width: 1.5vh; 
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    background-color: #124146;
    border-radius: 6px;
    height: 5vh;
}

::-webkit-scrollbar-track {
    background-color: #1F6067; 
    height: 1vh;
}

html {
    scrollbar-width: thin;
    scrollbar-color: #124146 #1F6067;
}

body {
    scrollbar-width: thin;
    scrollbar-color: #124146 #1F6067;
}