﻿@using MudBlazor
@using RickAndMortyBlazorApp.Services.Interfaces.Models.CharacterModels;

<MudDialog Class="popup-dialog">
    <DialogContent>
        <div class="columns-container">
            <div class="first-column-content">
                <img src="@Character.Image" />
            </div>
            <div class="second-column-content">
                <MudButton Class="close" Color="Color.Primary" OnClick="Submit"><img src="/images/x.svg" /></MudButton>
                <span class="dialog-header">@Character.Name.ToUpper()</span>
                <div class="body-fields">
                    Статус: <span class="dialog-body">@Character.Status</span>
                </div>
                <div class="body-fields">
                    Вид: <span class="dialog-body">@Character.Species</span>
                </div>
                <div class="body-fields">
                    Тип: <span class="dialog-body">@GetNonEmptyString(Character.Type)</span>
                </div>
                <div class="body-fields">
                    Пол: <span class="dialog-body">@Character.Gender</span>
                </div>
                <div class="body-fields">
                    Локация Появления: <span class="dialog-body">
                        <a href="@Character.Origin.Url"
                           class="color-white"
                           target="_blank"
                           title="@Character.Origin.Url">
                            @TrimName(Character.Origin.Name, 13)
                        </a>
                    </span>
                </div>
                <div class="body-fields">
                    Последняя Локация: <span class="dialog-body">
                        <a href="@Character.Location.Url"
                           class="color-white"
                           target="_blank"
                           title="@Character.Location.Url">
                            @TrimName(Character.Location.Name, 13)
                        </a>
                    </span>
                </div>
                <div class="episode-block">
                    Эпизоды: <span class="dialog-body"></span>
                </div>

                <div class="body-fields-for">
                    @{
                        var uniqueEpisodes = Character.Episode
                        .GroupBy(episode => episode.Name) 
                        .Select(group => group.First()) 
                        .ToList();
                    }
                    @foreach (var episode in uniqueEpisodes)
                    {
                        <div>
                            <a class="foreach"
                               href="@episode.Url"
                               target="_blank"
                               title="@episode.Url">
                                @TrimName(episode.Name)
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </DialogContent>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter] public ICharacterModel Character { get; set; }

    void Submit() => MudDialog.Close(DialogResult.Ok(true));

    private static string GetNonEmptyString(string value)
    {
        return string.IsNullOrEmpty(value) ? "-" : value;
    }

    private string TrimName(string name, int maxLength = 20)
    {
        if (string.IsNullOrEmpty(name) || name.Length <= maxLength)
        {
            return name;
        }
        return name.Substring(0, maxLength) + "...  ";
    }
}