﻿@using MudBlazor;
@using RickAndMortyBlazorApp.Services.Interfaces.Models.EpisodeModels;

<MudDialog Class="popup-dialog">
    <DialogContent>
        <div class="columns-container">
            <div class="second-column-content">
                <MudButton Class="close" Color="Color.Primary" OnClick="Submit"><img src="/images/x.svg" /></MudButton>
                <span class="dialog-header">@Episode.Name.ToUpper()</span>
                <div class="body-fields">
                    Дата выхода: <span class="dialog-body">@Episode.AirDate</span>
                </div>
                <div class="body-fields">
                    Код эпизода: <span class="dialog-body">@Episode.EpisodeCode</span>
                </div>
                <div class="char-items">
                   Персонажи: <span class="dialog-body"></span>
                </div>
                <div class="body-fields-for">
                    @for (int i = 0; i < Episode.Characters.Count; i++)
                    {
                        <div>
                            @if (i < Episode.CharacterUrls.Count && i < Episode.Characters.Count)
                            {
                                <a class="foreach"
                                href="@Episode.CharacterUrls[i]"
                                target="_blank"
                                title="@Episode.Characters[i]">
                                    @Episode.Characters[i]
                                </a>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </DialogContent>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter] public IEpisodeModel Episode { get; set; }

    void Submit() => MudDialog.Close(DialogResult.Ok(true));
}
