﻿@font-face {
    font-family: 'intro';
    src: url('css/fonts/intro.ttf') format('truetype');
}

@font-face {
    font-family: 'jost';
    src: url('css/fonts/Jost.ttf') format('truetype');
}

.columns-container {
}

::deep .first-column-content {
    background-color: #124146 !important;
    height: 70vh;
}

::deep .second-column-content {
    background-color: #1F6067;
    color: #E0EB54;
    font-family: Jost;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    overflow: hidden;
    height: 70vh;
}

.dialog-header {
    display: flex;
    width: 441px;
    height: 76px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: intro;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 25%;
}

.dialog-body {
    color: white;
    font-family: jost;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 30px;
}

.body-fields {
    text-wrap: wrap;
    left: 20px !important;
    margin: 2% 0% 3% 20%;
    overflow-y: auto;
    overflow: hidden;
}

.body-fields-for {
    margin: -7% 0% 0% 10%;
    white-space: pre;
    height: 50%;
    overflow: auto;
    overflow-x: hidden;
    width: 85%;
}

::deep .close {
    margin: 3% 0% 0% 90%;
}

::deep .resed-items {
    margin: 2% 0% 3% 20%;
}

.foreach {
    margin-left: 23vh;
    color: white !important;
}

::-webkit-scrollbar {
    width: 1.5vh;
    cursor: pointer !important;
}

::-webkit-scrollbar-thumb {
    background-color: #124146;
    border-radius: 6px;
    height: 5vh;
}

::-webkit-scrollbar-track {
    background-color: #1F6067;
    height: 1vh;
}

html {
    scrollbar-width: thin;
    scrollbar-color: #124146 #1F6067;
}

body {
    scrollbar-width: thin;
    scrollbar-color: #124146 #1F6067;
}