﻿@using MudBlazor;
@using RickAndMortyBlazorApp.Services.Interfaces.Models.LocationModels;

<MudDialog Class="popup-dialog">
    <DialogContent>
        <div class="columns-container">
            <div class="second-column-content">
                <MudButton Class="close" Color="Color.Primary" OnClick="Submit"><img src="/images/x.svg" /></MudButton>
                <span class="dialog-header">@Location.Name.ToUpper()</span>
                <div class="body-fields">
                    Тип: <span class="dialog-body">@Location.Type</span>
                </div>
                <div class="body-fields">
                    Измерение: <span class="dialog-body">@Location.Dimension</span>
                </div>
                <div class="resed-items">
                    Жители: <span class="dialog-body"></span>
                </div>
                <div class="body-fields-for">
                    @for (int i = 0; i < Location.ResidentUrls.Count; i++)
                    {
                        <div>
                            @if (i < Location.ResidentUrls.Count && i < Location.Residents.Count)
                            {
                                <a class="foreach"
                                href="@Location.ResidentUrls[i]"
                                target="_blank"
                                title="@Location.Residents[i]">
                                    @Location.Residents[i]
                                </a>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </DialogContent>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter] public ILocationModel Location { get; set; }

    void Submit() => MudDialog.Close(DialogResult.Ok(true));
}
