﻿@font-face {
    font-family: 'intro';
    src: url('css/fonts/intro.ttf') format('truetype');
}

@font-face {
    font-family: 'jost';
    src: url('css/fonts/Jost.ttf') format('truetype');
}

.card-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 10%;
    margin-left: 10%;
    padding: 0rem 0rem !important;
}

::deep .mud-card-content {
    padding: 8px;
}

::deep .mud-card {
    height: 43vh !important;
    width: 27vh !important;
    border-radius: 25px !important;
    margin-top: 6vh !important;
    background: #1F6067;
    color: white;
    margin: 0px 35px 0px 20px;
}

::deep .avatar {
    height: 31vh !important;
}

::deep .mud-typography-h5 {
    font-size: 1.3rem;
    display: flex;
    width: 25vh;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: intro;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

::deep .mud-typography-body2 {
    color: #E0EB54;
    text-align: center;
    font-family: jost;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-top: 5px;
}

::deep .custom-previous-button {
    margin: -1.5vh 10vh 0vh 0vh;
}

::deep .custom-next-button {
    margin: -6.3vh -8vh 0vh 0vh;
}