﻿@page "/"
@page "/characters"
@using Microsoft.AspNetCore.Components.Rendering;
@using MudBlazor;
@using MudBlazor.Services;
@using RickAndMortyBlazorApp.Pages.Dialogs;
@using RickAndMortyBlazorApp.Services.Interfaces;
@using RickAndMortyBlazorApp.Services.Interfaces.Models.CharacterModels;
@inject IRickAndMortyApi DataService;
@inject IDialogService DialogService;


<PageTitle>Characters</PageTitle>


<div class="card-body">
    @foreach (var character in charactersPage)
    {
        <MudButton @onclick="(e) => OpenDialog(e, character)">
            <MudCard>
                <MudCardMedia Class="avatar" Image=@character.Image />
                <MudCardContent>
                    <MudText Typo="Typo.h5">@TrimName(character.Name)</MudText>
                    <MudText Typo="Typo.body2">@TrimName(character.Location.Name)</MudText>
                </MudCardContent>
            </MudCard>
        </MudButton>
    }
</div>

<div class="d-flex flex-column align-center mt-10">
    <button class="custom-previous-button" @onclick="GoToPreviousPage">
            <img src="images/previous.svg" />
    </button>
    <button class="custom-next-button" @onclick="GoToNextPage">
            <img src="images/next.svg" />
    </button>
</div>

@code {
    private List<ICharacterModel> characters;
    private int currentPage = 1;
    private int itemsPerPage = 4;
    private int totalPages;

    private IEnumerable<ICharacterModel> charactersPage => characters
        .Skip((currentPage - 1) * itemsPerPage)
        .Take(itemsPerPage);

    private void GoToPreviousPage()
    {
        if (currentPage <= 1)
        {
            currentPage = 1;
            return;
        }
        currentPage--;
    }

    private void GoToNextPage()
    {
        if (currentPage >= totalPages)
        {
            currentPage = totalPages;
            return;
        }
        currentPage++;
    }

    protected override async Task OnInitializedAsync()
    {
        characters = await DataService.GetCharactersModelAsync(10);
        totalPages = (int)Math.Ceiling((double)characters.Count / itemsPerPage);
        totalPages = (int)Math.Ceiling((double)characters.Count / itemsPerPage);
        Task.Run(LoadAllPagesAsync);
    }

    private async Task LoadAllPagesAsync()
    {
        var models = await DataService.GetAllPagesCharactersModelAsync(10);
        totalPages = (int)Math.Ceiling((double)models.Count / itemsPerPage);
        totalPages = (int)Math.Ceiling((double)models.Count / itemsPerPage);
        characters.AddRange(models);
    }

    private void OpenDialog(MouseEventArgs e, ICharacterModel character)
    {
        var parameters = new DialogParameters { { "Character", character } };
        var options = new DialogOptions { CloseOnEscapeKey = true };
        DialogService.Show<CharacterDialog>("", parameters, options);
    }

    private static string GetNonEmptyString(string value)
    {
        return string.IsNullOrEmpty(value) ? "-" : value;
    }

    private string TrimName(string name, int maxLength = 20)
    {
        if (string.IsNullOrEmpty(name) || name.Length <= maxLength)
        {
            return name;
        }
        return name.Substring(0, maxLength) + "...  ";
    }
}