﻿@page "/episodes"
@using MudBlazor;
@using RickAndMortyBlazorApp.Pages.Dialogs;
@using RickAndMortyBlazorApp.Services.Interfaces.Models.EpisodeModels;
@using RickAndMortyBlazorApp.Services.Interfaces;
@inject IRickAndMortyApi DataService;
@inject IDialogService DialogService;

<PageTitle>Episodes</PageTitle>

<div class="card-body">
    @foreach (var episode in episodes.Skip((currentPage - 1) * itemsPerPage).Take(itemsPerPage))
    {
        <MudButton @onclick="(e) => OpenDialog(e, episode)">
            <MudCard>
                <MudCardContent>
                    <MudText Typo="Typo.h5">@episode.Name</MudText>
                    <MudText Typo="Typo.body2">@episode.AirDate</MudText>
                </MudCardContent>
            </MudCard>
        </MudButton>
    }
</div>

<div class="d-flex flex-column align-center mt-10">
    <button class="custom-previous-button" @onclick="GoToPreviousPage">
        <img src="images/previous.svg" />
    </button>
    <button class="custom-next-button" @onclick="GoToNextPage">
        <img src="images/next.svg" />
    </button>
</div>

@code {
    private IList<IEpisodeModel> episodes;
    private int currentPage = 1;
    private int itemsPerPage = 3;
    private int totalPages;

    protected override async Task OnInitializedAsync()
    {
        episodes = await DataService.GetEpisodesModelsAsync();
        totalPages = (int)Math.Ceiling((double)episodes.Count / itemsPerPage);
        totalPages = (int)Math.Ceiling((double)episodes.Count / itemsPerPage);
    }

    private void GoToPreviousPage()
    {
        if (currentPage <= 1)
        {
            currentPage = 1;
            return;
        }
        currentPage--;
    }

    private void GoToNextPage()
    {
        if (currentPage >= totalPages)
        {
            currentPage = totalPages;
            return;
        }
        currentPage++;
    }

    private void OpenDialog(MouseEventArgs e, IEpisodeModel episode)
    {
        var parameters = new DialogParameters { { "Episode", episode } };
        var options = new DialogOptions { CloseOnEscapeKey = true };
        DialogService.Show<EpisodeDialog>("", parameters, options);
    }
}
