﻿@font-face {
    font-family: 'intro';
    src: url('css/fonts/intro.ttf') format('truetype');
}

@font-face {
    font-family: 'jost';
    src: url('css/fonts/Jost.ttf') format('truetype');
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
    padding: 0rem 0rem !important;
    gap: 50px;
}

::deep .mud-card {
    height: 27vh;
    width: 40vh;
    border-radius: 25px;
    background: #1F6067;
    color: white;
}

.mt-90 {
    margin-top: 90px;
}

::deep .mud-card-content {
    margin-top: 15%;
    display: inline-grid;
    justify-content: center;
    text-align: center;
}

::deep .mud-typography-h5 {
    display: flex;
    width: 30vh;
    height: 3vh;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: intro;
    font-size: 1.7vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

::deep .mud-typography-body2 {
    color: #E0EB54;
    text-align: center;
    justify-content: center;
    font-family: jost;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 30%;
}

::deep .custom-previous-button {
    margin: 4.3vh 10vh 0vh 0vh;
}

::deep .custom-next-button {
    margin: -6.3vh -8vh 0vh 0vh;
}