﻿@page "/locations"
@using MudBlazor;
@using RickAndMortyBlazorApp.Pages.Dialogs;
@using RickAndMortyBlazorApp.Services.Interfaces.Models.LocationModels;
@using RickAndMortyBlazorApp.Services.Interfaces;
@inject IRickAndMortyApi DataService;
@inject IDialogService DialogService;

<PageTitle>Locations</PageTitle>

<div class="card-body">
    @foreach (var location in locations.Skip((currentPage - 1) * itemsPerPage).Take(itemsPerPage))
    {
        <MudButton @onclick="(e) => OpenDialog(e, location)">
            <MudCard>
                <MudCardContent>
                    <MudText Typo="Typo.h5" title="@location.Name">@TrimName(location.Name)</MudText>
                    <MudText Typo="Typo.body2" title="@location.Dimension">@TrimName(location.Dimension, 15)</MudText>
                </MudCardContent>
            </MudCard>
        </MudButton>
    }
</div>

<div class="d-flex flex-column align-center mt-10">
    <button class="custom-previous-button" @onclick="GoToPreviousPage">
        <img src="images/previous.svg" />
    </button>
    <button class="custom-next-button" @onclick="GoToNextPage">
        <img src="images/next.svg" />
    </button>
</div>

@code {
    private IList<ILocationModel> locations;
    private int currentPage = 1;
    private int itemsPerPage = 6;
    private int totalPages;

    protected override async Task OnInitializedAsync()
    {
        locations = await DataService.GetLocationsModelsAsync();
        totalPages = (int)Math.Ceiling((double)locations.Count / itemsPerPage);
        totalPages = (int)Math.Ceiling((double)locations.Count / itemsPerPage);
    }

    private void GoToPreviousPage()
    {
        if (currentPage <= 1)
        {
            currentPage = 1;
            return;
        }
        currentPage--;
    }

    private void GoToNextPage()
    {
        if (currentPage >= totalPages)
        {
            currentPage = totalPages;
            return;
        }
        currentPage++;
    }

    private void OpenDialog(MouseEventArgs e, ILocationModel location)
    {
        var parameters = new DialogParameters { { "Location", location } };
        var options = new DialogOptions { CloseOnEscapeKey = true };
        DialogService.Show<LocationDialog>("", parameters, options);
    }

    private string TrimName(string name, int maxLength = 20)
    {
        if (string.IsNullOrEmpty(name) || name.Length <= maxLength)
        {
            return name;
        }
        else
        {
            return name.Substring(0, maxLength) + "...  ";
        }
    }
}
