﻿@font-face {
    font-family: 'intro';
    src: url('css/fonts/intro.ttf') format('truetype');
}

@font-face {
    font-family: 'jost';
    src: url('css/fonts/Jost.ttf') format('truetype');
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 4%;
    padding: 0rem 0rem !important;
    gap: 20px;
}

::deep .mud-card {
    height: 17vh;
    width: 45vh;
    border-radius: 25px;
    background: #1F6067;
    color: white;
}

.mt-3 {
    margin-top: 3% !important;
}

::deep .mud-typography-h5 {
    display: flex;
    width: 40vh;
    height: 5vh;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: intro;
    font-size: 3.5vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

::deep .mud-typography-body2 {
    display: flex;
    width: 30vh;
    height: 5vh;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #E0EB54;
    text-align: center;
    font-family: jost;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5%;
    margin-left: 5vh;
    text-wrap: nowrap;
}

::deep .mud-card-content {
    margin-top: 1.5%;
    display: inline-grid;
    justify-content: center;
    text-align: center;
}

::deep .custom-previous-button {
    margin: 0.5vh 10vh 0vh 0vh;
}

::deep .custom-next-button {
    margin: -6.3vh -8vh 0vh 0vh;
}